@import 'src/styles/variables.scss';
.wrapper {
  background-color: white;
  border-radius: 1rem;

  .container {
    height: 35rem;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 1rem;

    font-family: 'Carter One', sans-serif;
    font-size: 3rem;
    color: white;
    text-align: center;
    text-decoration: none;

    box-sizing: border-box;
    background-color: $blue;
    background: radial-gradient(circle, $blue 0%, $darker-blue 100%);
    background-clip: content-box;
    box-shadow: inset 0 0 0 1.5rem $darker-blue;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .pokemon-picture {
      max-width: 20rem;
      max-height: 20rem;
    }

    .stats-container {
      box-sizing: border-box;
      display: none;
      grid-template-rows: repeat(6, 1fr);
      font-size: 1.5rem;
      background-color: rgba(0, 0, 0, 0.780);
      width: 100%;
      height: 100%;
      padding: 1rem;
      margin-top: -30.5rem;
      transform: translateY(3.65rem);
      justify-items: center;
      align-items: center;
    }
  }
}

.container:hover {
  box-shadow: inset 0 0 0 1.5rem $blue;
  transition: ease-in 75ms;
  cursor: pointer;

    .stats-container {
      display: grid;
    }
}

.container:focus {
  box-shadow: inset 0 0 0 1.5rem $blue;
  transition: ease-in 75ms;
  outline: 0;
  cursor: pointer;

    .stats-container {
      display: grid;
    }
}