$darker-red: #8d0f0f;
$red: #FB1B1B;
$black: black;
$gray: #DFDFDF;
$white: white;
$darker-blue: #0A285F;
$blue: #0075BE;
$outline-borders: 1rem solid black;
$retro-font: 'Press Start 2P', monospace;
