.container {
  width: 100%;
  max-width: min(95%, 120rem);
  display: flex;
  margin-bottom: 5rem;
  align-items: center;
  .search {
    height: 5rem;
    width: 100%;
    padding: 2rem;
    text-align: center;
    border-radius: 2rem;
    border: 0.5rem solid black;
    font-size: 5rem;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .search:focus {
    background-color: rgba(255, 255, 255, 0.75);
  }

  .search-icon {
    transform: translateX(-4rem);
    margin-left: -4rem;
    height: 5rem;
    width: 5rem;
  }
}

@media (max-width: 900px) {
  .container {

    .search {
      font-size: 3.5rem;
      padding: 1rem;
    }
  }
}